<div class="wrapper">
  <div class = "side-bar">
    <%= render "side_bar" %>
    <div class = "side-header"></div>
    <div class = "side-content"></div>
  </div>
  <div class = "main-chat">
    <%= render "main_chat" %>
    <div class = "main-header"></div>
    <div class = "main-content"></div>
    <div class = "main-footer"></div>
  </div>
</div>